<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- sql을 작성할 환경설정파일 위치  -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/egovframework/sqlmap/example/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/egovframework/sqlmap/example/mappers/*.xml" />
	</bean>

	<!-- mapper.xml과 mapper 인터페이스를 연결해주는 역할 -->
 	<bean class="org.egovframe.rte.psl.dataaccess.mapper.MapperConfigurer">
 	<!-- 스프링 빈으로 자동 생성할 대상 클래스 위치: egovframework.example.업무폴더명.service.impl  -->
		<property name="basePackage" value="egovframework.example.*.service.impl" />
	</bean>
    
</beans>